<section>
  <!--  <h2>Get All Categories for {{this.emailAddress}}</h2>-->
  <button (click)="getAuthors()">Get All Categories</button>
</section>

<div *ngIf="authors">
  <h4>All Authors</h4>
  <ul>
    <li *ngFor="let author of authors">
      {{author.firstName}} -- {{author.lastName}}
<!--      <button (click)="deleteCategory(category)">delete</button>-->
<!--      <form (submit)="createRecipe(category)">-->
<!--        <input [(ngModel)]="recipeName" name="recipeName" type="text" placeholder="new recipe" />-->
<!--        <input type="submit"/>-->
<!--      </form>-->
    </li>
  </ul>
</div>
