<div class="page-grid">
  <section>
    <!--  <h2>Get All Categories for {{this.emailAddress}}</h2>-->
    <button (click)="getPublishers()">Get All Publishers</button>


    <div *ngIf="publishers">
      <h4>All Publishers</h4>
      <ul>
        <div class="listing" *ngFor="let publisher of publishers">
        <li>
          <h2>{{publisher.name}}</h2>
          {{publisher.address}}
        </li>
        </div>
      </ul>
    </div>
  </section>
  <section>
    <h4>Create New Publisher</h4>
    <form (submit)="createPublisher()">
      <input [(ngModel)]="name" name="name" type="text" placeholder="publisher name"/>
      <input [(ngModel)]="address" name="address" type="text" placeholder="publisher address"/>
      <input type="submit"/>
    </form>
  </section>
</div>
