/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
ul{
  list-style: none;
}

form{
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  padding: 5%;
  width: 50%;
  margin-left: 20%;
}
input, select{
  margin: 5%;
}
input:hover{
  background-color: lightskyblue;
}
.page-grid{
  margin-top: 7%;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 70vw 30vw;
  text-align: center;
}
.listing{
  background-color: lightskyblue;
  width: auto;
  margin: 2% 30%;
  border-radius: 20px;
  padding: 1%;
}

